* {
	margin: 0px; padding: 0px auto;
}

body {
	width: 900px;
	margin: 0px auto;
}

@font-face {
    font-family: 'mario';
    src: url('src/font/SuperMarioBros.otf') format('truetype');
}

@font-face {
	font-family: 'pixel';
	src: url('src/font/Ycomputer.ttf') format('truetype');
}

#main-div {
/*	display: none;*/
	width: 900px;
	height: 700px;
	background-color: lightgray;
	background-image: url("src/background1.jpg");
	position: relative;
}

#main-blank {
	height: 100px;
}

#main-title {
	width: 900px;
	height: 200px;
	text-align: center;
	line-height: 100px;
	font-size: 100px;
	font-family: 'Smokum', cursive;
	color: rgb(238, 63, 10);
	text-shadow: #fc0 5px 5px 3px;
}

#main-start-button {
	margin: 100px 300px;
	width: 300px;
	height: 50px;
	text-align: center;
	line-height: 50px;
/*	border: 1px solid black;*/
	font-family: 'mario', serif;
	font-size: 60px;
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
}

#main-start-button:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;

}

#main-settings-button {
	position: absolute;
	right: 50px;
	bottom: 50px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
/*	border: 1px solid black;*/
}

#main-settings-button img {
	width: 100px;
	height: 50px;
	object-fit: contain;
}

#sound-button {
	position: absolute;
	right:150px;
	bottom:50px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
/*	border: 1px solid black;*/
}

#sound-button img {
	width: 100px;
	height: 50px;
	object-fit: contain;
}

#canvas-wrapper {
	display: none;
	width: 900px;
	height: 700px;
	background-color: gray;
	position:relative;
}

#score-bar{
	width: 850px;
	height: 80px;
	background-color: #999999;

	padding: 0px 25px;
	text-align: left;
	line-height: 80px;
	font-family: 'pixel';
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
	font-size: 35px;
}

#board{
	width: 900px;
	height: 600px;
	background-size: cover;
}

.popup {
	text-align: center;
	font-size: 40px;
	line-height: 90px;
	display: none;
	position: absolute;
	top: 150px;
	left: 200px;
	z-index: 1;
	width: 500px;
	height: 400px;
	background-color: rgb(244, 234, 92);
	border-radius: 10%;

	font-family: 'mario', serif;
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
}

.popup-title {
	margin: 0px 0px 40px 0px;
	width: 500px;
	height: 80px;
	text-align: center;
	line-height: 180px;
	font-size: 60px;
}

.popup-button {
	margin:20px 200px;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid black;
}

#level-title {
	font-size: 60px;
}

#prologue-video {
	width: 900px;
	height: 600px;
	background-color: black;
	display: none;
	padding: 100px 0px 0px 0px;
}

#prologue-skip {
	width: 150px;
	height: 30px;
	padding: 25px 0px 35px 750px;
	background-color: black;		
	text-align: center;
	font-family: 'pixel';
	color: white;
	font-size: 30px;
}

#prologue-skip:hover {
	color: black;
	text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
}

#prologue-text {
	width: 900px;
	height: 700px;
	background-color: black;
	display: none;
	text-align: center;
	line-height: 700px;
	font-family: 'pixel';
	color: white;
	font-size: 40px;
}

#text2 { display: none; }

select{
	padding: 10px 5px;
	background: #fc0;
	border-radius: 9px;
	outline: 0;
	appearance: none;
}

option{
	background: #fc0;
	color: black;
	text-align: center;
}

#help {
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
}

#help-content{
	font-family: 'pixel';
	font-size: 20px;
	text-shadow: none;
	color: black;
	line-height: normal;
}

#resume:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
}

#back_to_title:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
}

#setting_menu:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
}

.result-home:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
}

.result-button:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
}

.level-button:hover {
	color: black;
	text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
}

#result {
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
}

#image_show{
	width: 100px;
	height: 100px;
}

#help_image{
	width: 100px;
	height: 100px;
}

#ending-img {
	width: 900px;
	height: 700px;
	background-color: black;
	display: none;
}

#ending-img img {
	display: none;
}

#settings {
	font-size: 30px;
}

#pause-title{
	font-size: 60px;
}