* {
	margin: 0px; padding: 0px auto;
}

body {
	width: 900px;
	margin: 0px auto;
}

@font-face {
    font-family: 'mario';
    src: url('src/font/SuperMarioBros.otf') format('truetype');
}

@font-face {
	font-family: 'pixel';
	src: url('src/font/SuperMarioWorldTextBox.ttf') format('truetype');
}

#main-div {
	width: 900px;
	height: 700px;
	background-color: lightgray;
	background-image: url("src/background1.jpg");
}

#main-blank {
	height: 150px;
}

#main-title {
	width: 900px;
	height: 150px;
	text-align: center;
	line-height: 100px;
	font-size: 100px;
	font-family: 'Smokum', cursive;
	color: rgb(238, 63, 10);
	text-shadow: #fc0 5px 5px 3px;
}

#main-start-button {
	margin: 100px 300px;
	width: 300px;
	height: 50px;
	text-align: center;
	line-height: 50px;
/*	border: 1px solid black;*/
	font-family: 'mario', serif;
	font-size: 60px;
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
}

#main-settings-button {
	margin: 148px 50px 50px 750px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
/*	border: 1px solid black;*/

}

#main-settings-button img {
	width: 100px;
	height: 50px;
	object-fit: contain;
}

#canvas-wrapper {
	display: none;
	width: 900px;
	height: 700px;
	background-color: gray;
}

#score-bar{
	width: 900px;
	height: 80px;
	background-color: #999999;

/*	margin: 0px 10px;*/
	text-align: left;
	font-family: 'pixel';
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
	font-size: 20px;
}

#board{
	width: 900px;
	height: 600px;
}

.popup {
	text-align: center;
	font-size: 40px;
	line-height: 100px;
	display: none;
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
	/*margin: 150px 200px;*/
	width: 500px;
	height: 400px;
	background-color: rgb(244, 234, 92);
	border-radius: 10%;

	font-family: 'mario', serif;
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
}

.popup-title {
	margin: 0px 0px 40px 0px;
	width: 500px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 35px;
/*	padding: 50px auto;*/
}

.popup-button {
	margin:20px 200px;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid black;
}

#level-title {
	font-size: 60px;
}
