* {
	margin: 0px; padding: 0px auto;
}

body {
	width: 900px;
	margin: 0px auto;
}

#main-div {
	width: 900px;
	height: 700px;
	background-color: lightgray;
}

#main-title {
	width: 900px;
	height: 300px;
	text-align: center;
	line-height: 300px;
	font-size: 100px;
}

#main-start-button {
	margin: 100px 400px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid black;
}

#main-settings-button {
	margin: 148px 50px 50px 750px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid black;

}

#canvas-wrapper {
	display: none;
	width: 900px;
	height: 700px;
	background-color: gray;
}

#score-bar{
	width: 900px;
	height: 80px;
	background-color: #999999;
}

#board{
	width: 900px;
	height: 600px;
}

.popup {
	display: none;
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
	/*margin: 150px 200px;*/
	width: 500px;
	height: 400px;
	background-color: darkgray;
}

.popup-title {
	margin: 0px 0px 40px 0px;
	width: 500px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 35px;
/*	padding: 50px auto;*/
}

.popup-button {
	margin:20px 200px;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid black;
}

